click==8.4.2 ; python_version >= "3.12" and python_version < "3.14"
codespell==2.4.2 ; python_version >= "3.12" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
deptry==0.25.1 ; python_version >= "3.12" and python_version < "3.14"
packaging==26.2 ; python_version >= "3.12" and python_version < "3.14"
pyupgrade==3.21.2 ; python_version >= "3.12" and python_version < "3.14"
requirements-parser==0.13.1 ; python_version >= "3.12" and python_version < "3.14"
ruff==0.11.13 ; python_version >= "3.12" and python_version < "3.14"
tokenize-rt==6.2.0 ; python_version >= "3.12" and python_version < "3.14"
tomli==2.4.1 ; python_version >= "3.12" and python_version < "3.14"
ty==0.0.53 ; python_version >= "3.12" and python_version < "3.14"
